
.contenedor__encabezado{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 110px;
    background-color: var(--color-cuaternario); 
    z-index: 1000; 
}
.nombre{
    margin:1% 10% 2% 10%;
    font-size: 1.5rem;
}
.enlaces{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.enlaces__lista{
    width: 100%;
    margin: 0 150px 100px 0;
    display: flex;
    justify-content: flex-end;
    gap:50px
}
.enlace_guia{
    font-size: 1.3rem;
    cursor: pointer;
}
.contenedor__bloque{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    width: 100%
}
.titulo_principal{
    font-size: 3rem;
    margin: 20px 0;
    color: var(--color-secundario);
}
.contenedor__texto{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 150px;
    flex: 1;
}
.texto_de_parrafo{
    width: 100%;
    margin: 20px 0;
    font-size: 1.5rem;

}
.enlaces__1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.3rem;
    gap:50px;
}
.icono__enlace{
    display: flex;
    align-items: center;
}
.contenedor__imagen{
    width: 368px;
    height: 368px;
    margin-left: 10px;
    margin-right: 150px;
}
.selfie{
    width: 100%;
    height: 100%; 
    border-radius: 50%; 
    object-fit: cover;
}
.contenedor__sobre_mi{
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    margin-top: 50px;
}
.titulo__sobre_mi{
    font-size: 2rem;
    color: var(--color-secundario);
}
.titulos__2{
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom:20px;
    color: var(--color-secundario);
}
.texto_de_sobre_mi{
    font-size: 1.5rem;
    text-align: justify;
    margin: 20px 0 20px 0;
}
.contenedor__skill {
    display: flex;
    flex-direction: column;
    margin: 40px auto 20px auto;
    width: 70%; 
    height: auto;
    box-sizing: border-box; 
    padding: 30px;
}
.skills1, .skills2 {
    display: flex;
    justify-content: center;
    padding: 0; 
    margin: 20px auto; 
    gap: 20px; 
    overflow: hidden;
}
.skill {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 30%; 
}
.texto_de_Skills1{
    font-size: 1.5rem;
    text-align: justify;
}
.texto_de_Skills2{
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 20px;
}
.skill__img1{
    display: block;
    background-color: var(--color-quinario);
    margin: auto;
    max-width: 100%; 
    height: auto; 
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out; 
}
.skill__img2{
    display: block;
    background-color: var(--color-quinario);
    margin: 30px 30px 0;
    width: 100%; 
    height: 90%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out; 
}

.skill__img1:hover, .skill__img2:hover {
    animation: vibrar 0.2s infinite; 
}

.skill__nombre {
    margin-top: 10px; 
    font-size: 1.2em; 
    color: #fff; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.skill:hover .skill__nombre {
    opacity: 1; 
    font-size: 1.2rem;
}

@keyframes vibrar {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    75% { transform: translate(2px, 2px); }
    100% { transform: translate(-2px, -2px); }
}
  
.Hobbies {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    padding: 0;
    width: auto; 
    max-width: calc(100% - 300px);
    box-sizing: border-box; 
}

.texto_de_hobbies {
    display: flex;
    flex-direction: row;
    text-align: justify;
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
}

.contenedor__hobbies{
    display: flex;
    flex-direction: row;
    margin: 0 150px;
    align-items: center;
    gap: 30px;
    padding: 0;
}
.imagenes__hobbies{
    width: 18%;
    height: auto;
}
.imagenes__hobbies {
    width: 18%;
    height: auto;
    transition: all 0.3s ease;
}

.imagenes__hobbies:hover {
    filter: brightness(1.5);
    transform: scale(1.05); 
}
.formación{
    display: flex;
    flex-direction: column;
    margin: 20px 150px;
    padding: 0;
}
.texto_de_formación{
    text-align:justify;
    font-size: 1.5rem;
}
.imagenes__formación{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}
.imagenes__formación img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagenes__formación img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
.logo_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.experiencia{
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
}
.desarrollos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.contenedor__paginas_experiencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.contenedor__paginas_experiencias img {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.contenedor__paginas_experiencias img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
    transform: scale(1.05); 
}
.texto__experiencias1{
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 10px;
}
.texto__experiencias{
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 20px;
}
.texto__experiencia_img1{
    font-size: 1.5rem;
    color: var(--color-secundario);
}
.texto__experiencia_img{
    font-size: 1.5rem;
    color: var(--color-secundario);
}
.contenedor__footer{
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 110px;
    background-color: var(--color-quinario); 
    z-index: 1000; 
}
.btn-volver {
    background-color: var(--color-cuaternario); 
    color: var(--color-terciario); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border-color: var(--color-terciario);
    cursor: pointer; 
    position: fixed;
    bottom: 40px; 
    width: 200px;
    height: 50px;
    right: 20px; 
    z-index: 1000; 
    display: none; 
}

.btn-volver.show {
    display: block; 
}

