/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *:root {
    --color-primario: #154580;
    --color-secundario: #3970BE;
    --color-terciario: #E5F1FF;
    --color-cuaternario: #444444;
    
}

  /* Tipografía base */
  body {
    font-family: kanit, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Títulos */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Párrafos */
  p {
    margin-bottom: 20px;
  }
  
  /* Imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Botones */
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Contenedores principales */
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Formularios */
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Espaciados generales */
  section {
    padding: 40px 0;
  }
  
  